In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import numpy as np
from IPython.display import display
from scipy import stats
from collections import OrderedDict
import celerite
from celerite import terms

In [2]:
train_ts = pd.read_csv("../data/input/training_set.csv")
display(train_ts.head())

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [3]:
train_meta = pd.read_csv("../data/input/training_set_metadata.csv")
test_meta = pd.read_csv("../data/input/test_set_metadata.csv")
display(train_meta.head())

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [17]:
from sklearn.decomposition import PCA
import sklearn.base
import bhtsne
import scipy as sp

In [19]:
class BHTSNE(sklearn.base.BaseEstimator, sklearn.base.TransformerMixin):
    def __init__(self, dimensions=2, perplexity=30.0, theta=0.5, rand_seed=-1, max_iter=100):
        self.dimensions = dimensions
        self.perplexity = perplexity
        self.theta = theta
        self.rand_seed = rand_seed
        self.max_iter = max_iter

    def fit_transform(self, X):
        return bhtsne.tsne(
            X.astype(sp.float64),
            dimensions=self.dimensions,
            perplexity=self.perplexity,
            theta=self.theta,
            rand_seed=self.rand_seed,
            max_iter=self.max_iter
        )

In [21]:
bhtsne.tsne

In [6]:
train_ts = pd.DataFrame()
n_features = 200
for i in range(n_features):
    train_ts[str(i)] = train_meta["object_id"].values
    
train_ts.shape

(7848, 200)

In [24]:
test_ts = pd.DataFrame()
n_features = 200
for i in range(n_features):
    test_ts[str(i)] = test_meta["decl"].values
    
test_ts.shape

(3492890, 200)

In [8]:
pca = PCA(n_components=10, random_state=71)
pca.fit_transform(test_ts)

array([[-9.23224049e+008,  7.19474799e-018, -3.01281510e-036, ...,
        -8.47932091e-110, -1.60338153e-124, -6.36799850e-141],
       [-9.23224035e+008,  2.83925660e-020, -1.09332608e-034, ...,
        -1.19793255e-108,  7.97995121e-124, -1.44370201e-137],
       [-9.23223992e+008, -1.60455068e-021,  2.12166430e-037, ...,
        -5.88312814e-110, -5.39511205e-125,  7.51189828e-139],
       ...,
       [ 9.26397034e+008,  4.06298578e-022,  5.60921848e-038, ...,
        -1.16304917e-111, -3.21125487e-127, -7.00620511e-141],
       [ 9.26398151e+008,  1.87382023e-022, -3.50759243e-038, ...,
        -1.19909172e-111, -9.22940138e-127, -6.46370940e-141],
       [ 9.26398165e+008,  1.69034997e-022, -1.50993444e-037, ...,
        -1.57176321e-113,  1.83261543e-126, -7.74691872e-141]])

In [ ]:
tsne = BHTSNE(dimensions=2, perplexity=30.0, theta=0.5, rand_seed=-1, max_iter=10000)
bhtsne.tsne(test_ts)