In [2]:
import numpy as np
import pandas as pd

In [5]:
# ダミーデータを用意する
y_pred = np.array([
    [0.1, 0.1, 0.8],
    [0.4, 0.4, 0.2],
    [0.6, 0.4, 0.0],
    [0.1, 0.9, 0.0],
    [0.1, 0.4, 0.5],
])

y_true = np.array([2, 1, 0, 1, 2])

In [6]:
class_weight = {0: 1, 1: 2, 2: 1}
y_p = y_pred
y_ohe = pd.get_dummies(y_true)
y_ohe

   0  1  2
0  0  0  1
1  0  1  0
2  1  0  0
3  0  1  0
4  0  0  1

In [7]:
y_p = np.clip(a=y_p, a_min=1e-15, a_max=1 - 1e-15)
y_p

array([[1.e-01, 1.e-01, 8.e-01],
       [4.e-01, 4.e-01, 2.e-01],
       [6.e-01, 4.e-01, 1.e-15],
       [1.e-01, 9.e-01, 1.e-15],
       [1.e-01, 4.e-01, 5.e-01]])

In [9]:
y_p_log = np.log(y_p)
y_p_log

array([[ -2.30258509,  -2.30258509,  -0.22314355],
       [ -0.91629073,  -0.91629073,  -1.60943791],
       [ -0.51082562,  -0.91629073, -34.53877639],
       [ -2.30258509,  -0.10536052, -34.53877639],
       [ -2.30258509,  -0.91629073,  -0.69314718]])

In [10]:
y_p_log * y_ohe

          0         1         2
0 -0.000000 -0.000000 -0.223144
1 -0.000000 -0.916291 -0.000000
2 -0.510826 -0.000000 -0.000000
3 -0.000000 -0.105361 -0.000000
4 -0.000000 -0.000000 -0.693147

In [16]:
y_log_ones = np.sum(y_p_log * y_ohe, axis=0)
y_log_ones

0   -0.510826
1   -1.021651
2   -0.916291
dtype: float64

In [12]:
nb_pos = y_ohe.sum(axis=0).values.astype(float)
nb_pos

array([1., 2., 2.])

In [15]:
class_arr = np.array([class_weight[k] for k in sorted(class_weight.keys())])
class_arr

array([1, 2, 1])

In [18]:
y_w = y_log_ones * class_arr / nb_pos
y_w

0   -0.510826
1   -1.021651
2   -0.458145
dtype: float64

In [19]:
- np.sum(y_w) / np.sum(class_arr)

0.4976555593087624